/* font-family: 'Prompt', sans-serif; */
h1{
    color: red;
    font-family: 'Prompt', sans-serif;

}
h2{
    color: blue;
    font-family: 'Prompt', sans-serif;

}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.carita{
    height: 200px;
    color: blueviolet;
}